<div class="flex justify-between items-center">
  <h1 class="mb-0">Password Manager</h1>

  <div class="my-5">
    <%= link_to "New Password", new_password_path %>
  </div>

</div>

<%= render @passwords %>


